# Python Basics

### Displaying results

In [2]:
print "hello world!"

hello world!

In [3]:
print "the %s sat on the mat" % "cat"

the cat sat on the mat

In [4]:
print '-'*40

----------------------------------------

### Creating variables/objects

In [5]:
a = 30

In [6]:
# The variable 'a' is a Python object. 
# It has an identity (like memory address)
print id(a)
# It has a type
print type(a)
# and it has a value
print a

38365632
<type 'int'>
30

### Arithmetic: /, *, + -, **, % and comparisons

In [7]:
2 * 6 == 4 * 3

True

In [8]:
5 < 2

False

In [ ]:
5 < 2 or 3 < 5

In [10]:
5<2 and 3<5

False

In [11]:
2 * 3 != 5

True

### Doing things based on choices: if, else

In [ ]:
flag = True
if flag:
    print "flag is true"
else:
    print "flag is not true"

In [12]:
a = 4
if a!=10:
    print "here"
else:
    print "else"

here

### Lists

In [13]:
a = [1,2,3,'hello']
print a

[1, 2, 3, 'hello']

In [14]:
print len(a)

4

In [15]:
import numpy as np

In [16]:
b = [np.sin, len, 'that',  34]

Grabbing an element or a subset 
numbers are distance from beginning of list, 
so start with 0â€¦ if less than 0, then distance from end of list.

In [17]:
print a[0]

1

In [18]:
print a[:2]

[1, 2]

In [20]:
print a[1:]

[2, 3, 'hello']

In [19]:
print a[1:2]

[2]

In [21]:
print a[-1]

hello

In [22]:
# a[start:end:step]
print a[::-1]

['hello', 3, 2, 1]

In [23]:
# lists can be added together 
b = [3,4,'foo']
print a+b

[1, 2, 3, 'hello', 3, 4, 'foo']

In [26]:
x = np.array([1,2,3])
y  = np.array([4,5,'a'])
print x+y

TypeError: ufunc 'add' did not contain a loop with signature matching types dtype('S11') dtype('S11') dtype('S11')

#### Note on memory handling:

Python objects are allocated on assignment.

All objects are passed by reference.

In [27]:
b

[3, 4, 'foo']

In [28]:
# For example,
c = b
print c

[3, 4, 'foo']

In [29]:
b[0] = 99
print c

[99, 4, 'foo']

In [30]:
import copy
d = copy.deepcopy(c)

In [31]:
d

[99, 4, 'foo']

In [32]:
print id(b), id(c)
print b is c

78140808 78140808
True

### Range -- counting up, counting by multiples, counting backwards

In [33]:
print range(10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [34]:
print range(4,10)

[4, 5, 6, 7, 8, 9]

In [35]:
print range(4,10,2)

[4, 6, 8]

In [36]:
print range(10,4,-1)

[10, 9, 8, 7, 6, 5]

In [37]:
range(10,4)

[]

### List comprehensions (set theory)

In [38]:
a = [0,1,2]
c = [2*x for x in a]
print c

[0, 2, 4]

In [39]:
c = []
for x in a:
    c.append(2*x)
    
print c

[0, 2, 4]

Check for containment: in operator

In [40]:
print 30 in range(30)

False

List comprehensions with conditionals

In [41]:
d = [x for x in range(30) if (x-3)*(x-10)==0]
print d

[3, 10]

Multiple list comprehensions

In [42]:
b = ['a','b']
d = [[x,y] for x in a for y in b]
print d

[[0, 'a'], [0, 'b'], [1, 'a'], [1, 'b'], [2, 'a'], [2, 'b']]

### Functions

Create function that checks whether integer is divisible by 11.

In [43]:
def is_div_by_11(x):
    return x % 11 == 0

In [45]:
12 % 11

1

In [44]:
is_div_by_11(48)

False

### Built-in functions
int, len, min, max, sum, help

In [49]:
# help(max)
int('23')

23

Exercise

Modified from Project Euler: find the sum of all numbers less than 1000 that are divisible by 3 or by 5.
Answer: 233168

### Methods
list.append, list.count, list.sort

In [ ]:
a = list()
a.append('the')
a.append('cat')
a.append('sat')
a.extend(['cat', 'cat'])
print a
a.sort()
print a
print a.count('cat')

### For loop
Iterates over a list, assigns the same name to each element, handles each value in turn

Exercise

Print a table of squares for 1 <= x <= 20

### Dictionaries
Like lists but specify own keys (keys mostly arbitrary; e.g. can be strings).

Explore with .keys() and .values()

In [50]:
a = dict()
a['this'] = 349
a['that'] = is_div_by_11
a[34] = ['the', 'quick', 'brown', 'fox']
print a

{'this': 349, 34: ['the', 'quick', 'brown', 'fox'], 'that': <function is_div_by_11 at 0x0000000006A7D6D8>}

In [51]:
print a['this']

349

In [54]:
a[93] = 'b'
print a

{'this': 349, 34: ['the', 'quick', 'brown', 'fox'], 93: 'b', 'that': <function is_div_by_11 at 0x0000000006A7D6D8>}

In [ ]:
print a['that'](55)

In [ ]:
print a[34][3]

In [55]:
print "The keys are", a.keys()
print "The values are", a.values()

The keys are ['this', 34, 93, 'that']
The values are [349, ['the', 'quick', 'brown', 'fox'], 'b', <function is_div_by_11 at 0x0000000006A7D6D8>]

### Libraries

In [ ]:
import numpy as np
t = np.linspace(0,np.pi,20)
print t
x = np.sin(t)

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline
plt.plot(t, x, 'ro')
plt.axis([0, 7, -2, 2])
plt.show()

### Strings
Setting, printing, concatenating, len, replace, in operator

In [ ]:
x = "The quick brown fox jumped "
y = "over the fence."
print x
print y
print x+y

In [ ]:
2*y

In [ ]:
x[4:7]

In [ ]:
len(x)

In [ ]:
print x.replace(' ','\n')

In [ ]:
'row' in x

In [ ]:
x.split(' ')

In [ ]:
sent = dict()
for k, v in enumerate(x.split(' ')):
    sent[k] = v
    
print sent

### Serializing Data

JSON

In [ ]:
import json
with open('data.json', 'w') as f:
    json.dump(sent, f)

In [ ]:
del sent
print sent

In [ ]:
# Reading data back
with open('data.json', 'r') as f:
     data = json.load(f)
print data

Pickle

In [ ]:
import pickle
pickle.dump([x, y, data], open("data.pkl", "wb"))

In [ ]:
h = pickle.load(open("data.pkl", "rb"))

In [ ]:
print h

### Regular Expressions

import re
re.search(regex, subject)
re.findall(regex, subject)
re.sub(regex, replacement, subject)

[^abc] -- not a, b, or c
[a-z] -- any of a, b, c, â€¦ z
? -- optional character
. - any character
* -- zero or more repititions
+ -- one or more repetition
(...) -- capture group
\1 -- the value of the first capture group, etc
| -- or
\d -- digit
\w -- alphanumeric

Regular Expressions exercises: http://regexone.com/

In [ ]:
sum([x for x in range(1000) if (x % 3==0) or x % 5==0])

In [ ]:
for i in range(1,20):
    if i**2 > 20:
        break
    print i**2

In [ ]:
num

In [ ]:
# %pdb on